<div class="grid">
    <img src="./visit.jpg" class="img">
    <p class="info">In 2010, Dough Re Mi opened its first location in London, England. From its inception, Dough Re Mi is known as a bakery unique for our bright pink walls, floral decor, cursive decals, and most importantly, our delicious pastries. We take pride in using natural ingredients in our cakes, cookies and muffins. Yum!
    <br><br>
    Our treats are as deliciously wholesome as they are beautifully decorated. We also have vegan options available for every type of pastry. Come taste our edible works of art for yourself!</p>