body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f8d3e4;
}

#modal {
    display: block;
    position: fixed;
    z-index: 60;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(248, 211, 228, 0.75);
}

#modal-content {
    background-color: #fefefe;
    background-image: url("https://i.pinimg.com/736x/1f/67/39/1f6739596327dd1b9736589e9fe34802.jpg");
    background-size: contain;
    margin: 9% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 50px;
    text-align: center;
}

#modal-content h2 {
    font-size: 2em;
    margin-top: 110px;
}

#phone {
    width: 40%;
    text-align: center;
    border-radius: 10px;
    height: 1.7em;
    margin: 10px 0 20px;
}

#modal-content button {
    width: 25%;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    border: 2px solid white;
    background-color: rgb(211, 69, 123);
    color: white;
    letter-spacing: 1.5px;
    transition: .5s;
    margin-top: 5px;
}

#modal-content button:hover {
    background-color: #E181AE;
    cursor: pointer;
    transition: .5s;
}

#send {
    margin-right: 80px;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 90px;
    grid-area: logo;
}

#nav-grid {
    display: grid;
    grid-template: auto / auto auto auto auto auto auto;
    grid-template-areas: "logo visit cakes muffins cookies about";
    grid-gap: 20px;
    place-items: end center;
    padding: 0 10px 20px;
    width: 90%;
    margin: 15px auto 25px;
    border-bottom: 2px solid white;
}

.nav-item {
    display: grid;
    grid-template: auto auto / auto;
    justify-items: center;
    grid-row-gap: 10px;
    font-family: 'Leckerli One', cursive;
    font-size: 1.2em;
    color: rgb(54, 34, 20);
    text-decoration: none;
    transition: .5s;
}

.nav-item img {
    width: 50px;
}

#muffin-nav {
    grid-area: muffins;
}

#cake-nav {
    grid-area: cakes;
}

#cookie-nav {
    grid-area: cookies;
}

#visit-nav {
    grid-area: visit;
}

#about-nav {
    grid-area: about;
}

.nav-item:hover, #home-nav:hover {
    color: rgb(133, 85, 51);
}

.grid {
    display: grid;
    grid-template: auto / auto auto;
    grid-gap: 50px;
    grid-template-areas: "img info";
    width: 88%;
    margin: 0 auto;
    justify-items: center;
}

.img {
    grid-area: img;
}

.info {
    grid-area: info;
    line-height: 1.7em;
    font-size: 1em;
}

.info p {
    margin-top: 0;
}

h2 {
    font-family: 'Leckerli One', cursive;
    text-align: center;
    margin-bottom: 0;
    font-weight: 200;
    color: #e93086;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.pastry-grid {
    display: grid;
    grid-template: auto / auto auto auto;
    grid-template-areas: "pastry1 pastry2 pastry3";
    width: 100%;
}

.pastry, .pastry-img {
    width: 80%;
    margin: 0 auto;
}
.pastry1 {
    grid-area: pastry1;
}

.pastry2 {
    grid-area: pastry2;
}

.pastry3 {
    grid-area: pastry3;
}

.pastry {
    display: grid;
    grid-template: auto auto auto auto / 10% 85%;
    grid-template-areas:
        "name name"
        "img img"
        "price price"
        "desc desc";
}

.pastry-name {
    grid-area: name;
}

.pastry-img {
    grid-area: img;
}

.pastry-desc {
    grid-area: desc;
}

.price {
    grid-area: price;
    text-align: center;
}

.img-container {
    grid-area: img;
    position: relative;
}

.vegan {
    position: absolute;
    z-index: 50;
    width: 15%;
}