body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f8d3e4;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 90px;
    grid-area: logo;
}

#nav-grid {
    display: grid;
    grid-template: auto / auto auto auto auto auto auto;
    grid-template-areas: "logo visit cakes muffins cookies about";
    grid-gap: 20px;
    place-items: end center;
    padding: 0 10px 20px;
    width: 90%;
    margin: 15px auto 25px;
    border-bottom: 2px solid white;
}

.nav-item {
    display: grid;
    grid-template: auto auto / auto;
    justify-items: center;
    grid-row-gap: 10px;
    font-family: 'Leckerli One', cursive;
    font-size: 1.2em;
    color: rgb(54, 34, 20);
    text-decoration: none;
}

.nav-item img {
    width: 50px;
}

#muffin-nav {
    grid-area: muffins;
}

#cake-nav {
    grid-area: cakes;
}

#cookie-nav {
    grid-area: cookies;
}

#visit-nav {
    grid-area: visit;
}

#about-nav {
    grid-area: about;
}

.nav-item:hover, #home-nav:hover {
    color: rgb(133, 85, 51);
    animation-name: hover-float;
    animation-duration: 1s;
}

@keyframes hover-float {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.grid {
    display: grid;
    grid-template: auto / auto auto;
    grid-gap: 50px;
    grid-template-areas: "img info";
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}

.img {
    grid-area: img;
}

.info {
    grid-area: info;
    line-height: 2em;
    font-size: 1.2em;
}

.info p {
    margin-top: 0;
}

h2 {
    font-family: 'Leckerli One', cursive;
    text-align: center;
    margin-bottom: 0;
    font-weight: 200;
    color: #e93086;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}